@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Rubik", sans-serif;
  background-image: url("~/assets/ui/background/background-mobile.svg");
  background-size: cover; /* Adjusts image size to cover the entire element */
  background-repeat: no-repeat; /* Prevents image repetition */
}
